<div class="order">
  <img
    src="../../assets/img/items/toys/batman.png"
    alt="batman"
    class="order__img"
  />
  <div class="order__title">
    <p class="order__title--name"><span>Batman 6" Action Figure</span></p>
    <p class="order__title--desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quasi sunt
      cumque, quo perferendis enim. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Est quasi sunt cumque, quo perferendis enim. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Est quasi sunt cumque, quo
      perferendis enim.
    </p>
  </div>
  <p class="order__date"><span>Order Date: </span>10/31/2018</p>
  <div class="order__price">
    <p class="order__price--price"><span>Order total:</span> $19.97</p>
    <p class="order__price--qty"><span>Quantity:</span> 1</p>
  </div>
</div>
