//reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%; //1rem = 10px ---> 10/16 = 62.5%
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

//variables

//-----------colors
$color-blue-light: rgba(160, 212, 255, 0.856);
$color-blue: rgb(71, 129, 255);
$color-green-light: rgb(82, 218, 100);
$color-green: rgb(0, 207, 45);
$color-grey: rgb(197, 197, 197);
$color-orange: #ff8103;
$color-red: rgb(197, 40, 40);

$color-light: rgb(241, 241, 241);
$color-dark: rgb(46, 46, 46);

//-----------styles

$box-shadow-dark: 0 1.3rem 4rem rgba($color-dark, 0.5);
$box-shadow-light: 0 1.3rem 4rem rgba($color-light, 0.5);
$transition: all 250ms ease-in-out;

//mixins

@mixin clearFix() {
  content: "";
  clear: both;
  display: table;
}

@mixin absCenter() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//media queries

// 0-600px - phone
// 600-900px - tablet
// 900-1250 - desk

// 1em = 16px

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == desk {
    @media (max-width: 78em) {
      //1250px
      @content;
    }
  }
}

// animations

@keyframes bounce-right {
  0% {
    right: -1.7rem;
  }

  70% {
    right: -3.5rem;
  }
  100% {
    right: -2.5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//typeography

.heading {
  &--main {
    font-size: 2.3rem;
    color: $color-dark;
    letter-spacing: 0.3rem;
    font-weight: 600;
    text-transform: uppercase;

    @include respond(phone) {
      font-size: 1.5rem;
    }
  }

  &--item {
    font-size: 1.2rem;
    font-weight: 500;
    color: $color-dark;
    transition: $transition;
    cursor: default;

    &:hover {
      transform: scale(1.1);
      color: $color-orange;
    }
  }
}

.link {
  color: $color-dark;
  font-weight: 500;
  font-size: 1.4rem;
  transition: $transition;
  text-decoration: none;
  border-bottom: 2px solid $color-dark;
  position: relative;

  @include respond(phone) {
    font-size: 1rem;
  }

  &:hover {
    color: white;
    border-bottom: 2px solid white;

    i {
      animation: bounce-right 500ms ease-out;
      right: -2.5rem;
    }
  }

  i {
    font-size: inherit;
    position: absolute;
    top: 0.2rem;
    right: -1.7rem;
    transition: right 250ms ease-in-out;
  }

  &--small {
    font-size: 1.2rem;
    font-weight: 400;
    border-bottom: 1px solid $color-dark;
    i {
      font-size: inherit;
    }
  }

  &--atc {
    position: absolute;
    top: 12.5rem;
    right: 4rem;
    cursor: pointer;

    &:hover {
      color: $color-orange;
      border-bottom: 1px solid $color-orange;
    }
  }
}

//components

.btn {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: $color-light;
  font-size: 1.2rem;
  transition: $transition;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  box-shadow: 0 0.3rem 1rem rgba($color-dark, 0.7);
  transform: translateY(0.2rem);

  &:hover {
    filter: brightness(120%);
    box-shadow: 0 1.3rem 2rem rgba($color-dark, 0.5);
    transform: translateY(0);
  }

  &:active {
    filter: brightness(100%);
    box-shadow: 0 0.3rem 1rem rgba($color-dark, 0.7);
    transform: translateY(0.2rem);
  }

  &--small {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  &--large {
    padding: 2rem 2.5rem;
    font-size: 1.6rem;
  }

  &--blue {
    background-color: $color-blue;

    &:hover {
      filter: brightness(130%);
    }
  }

  &--green {
    background-color: $color-green;

    &:hover {
      filter: brightness(130%);
    }
  }

  &--orange {
    background-color: $color-orange;

    &:hover {
      filter: brightness(130%);
    }
  }

  &--search {
    border: none;
    outline: none;
    color: $color-grey;
    background-color: transparent;
    padding: 0 1rem;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $color-green-light;
    }

    i {
      font-size: 2rem;

      @include respond(tablet) {
        font-size: 1rem;
      }
    }
  }

  &--dropdown {
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: $color-orange;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.3rem 1.5rem;
    transition: $transition;

    @include respond(tablet) {
      font-size: 1rem;
    }

    @include respond(phone) {
      padding: 0.3rem 1rem;
    }

    &:hover {
      color: $color-light;
      background-color: $color-orange;
    }
  }
}

// add to cart modal

#atc-modal {
  opacity: 0;
  visibility: hidden;
}

.atc-modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-dark, 0.7);
}

// utilities

.margin-bottom-small {
  margin-bottom: 4rem;
}
.margin-bottom-medium {
  margin-bottom: 6rem;
}
.margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(phone) {
    margin-bottom: 4rem;
  }
}

.margin-top-small {
  margin-top: 4rem;
}
