@import "../../styles.scss";

.search {
  position: relative;
  animation: fadeIn 700ms ease-in-out;
}

.search-container {
  width: 75%;
  height: 100%;
  margin: auto;
  text-align: center;
}
.results {
  position: relative;
  @include clearFix;

  & > * {
    float: left;
    margin: 0.5rem;
  }
}

.title {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 2rem 0;

  span {
    color: $color-orange;
    font-weight: 400;
  }
}
