<div class="cart-item">
  <img src="{{ cartItem['item']['img'] }}" alt="items" class="cart-item__img" />
  <div class="cart-item__info">
    <p class="cart-item__info--desc">
      {{ cartItem["item"]["desc"] }}
    </p>
    <input
      type="number"
      [(ngModel)]="qty"
      class="cart-item__info--qty"
      (click)="updateQty()"
    />
  </div>
  <p class="cart-item__price">{{ cartItem["item"]["price"] | currency }}</p>
  <div class="cart-item__remove">
    <p class="cart-item__remove--text">Remove item?</p>
    <i (click)="removeItem(cartItem['item'])" class="material-icons">
      remove_shopping_cart
    </i>
  </div>
</div>
