<div class="cart-item">
  <img
    src="../../assets/img/items/books/12rules.jpg"
    alt="items"
    class="cart-item__img"
  />
  <div class="cart-item__info">
    <p class="cart-item__info--desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt veritatis
      repellendus iste quas vel. Ratione.
    </p>
    <input type="number" value="1" class="cart-item__info--qty" />
  </div>
  <p class="cart-item__price">$23.99</p>
  <div class="cart-item__remove">
    <p class="cart-item__remove--text">Remove item?</p>
    <i class="material-icons">
      remove_shopping_cart
    </i>
  </div>
</div>
