<section class="section-navbar">
  <div class="navigation">
    <nav class="navigation__nav">
      <div class="navigation__left">
        <a routerLink="/home"
          ><img
            src="../../logo.png"
            alt="Mean Shopping Logo"
            class="navigation__logo"
        /></a>
        <button type="button" class="btn--dropdown">
          Categories
          <div class="navigation__dropdown--menu">
            <ul
              class="navigation__dropdown--list"
              *ngFor="let category of categories"
            >
              <li class="navigation__dropdown--item">
                <a routerLink="/category">{{ category.title }}</a>
              </li>
            </ul>
          </div>
        </button>
      </div>
      <div class="navigation__right">
        <form action="#" class="navigation__search">
          <input
            type="text"
            placeholder="Search"
            class="navigation__search--bar"
          />
          <a routerLink="/results"
            ><button type="button" class="btn--search">
              <i class="material-icons">
                search
              </i>
            </button></a
          >
        </form>
        <a routerLink="/register"
          ><i class="material-icons navigation__icon--1">
            account_circle
          </i></a
        >
        <a routerLink="/cart">
          <i class="material-icons navigation__icon--2">
            shopping_cart
          </i>
        </a>
      </div>
    </nav>
  </div>
</section>
