<section class="section-navbar">
  <div class="navigation">
    <nav class="navigation__nav">
      <div class="navigation__left">
        <a routerLink="/home"
          ><img
            src="../../logo.png"
            alt="Mean Shopping Logo"
            class="navigation__logo"
        /></a>
        <button type="button" class="btn--dropdown">
          Categories
          <div class="navigation__dropdown--menu">
            <ul class="navigation__dropdown--list">
              <li class="navigation__dropdown--item">
                <a routerLink="/category">Books/Magazines</a>
              </li>
              <li class="navigation__dropdown--item">
                <a routerLink="/category">Arts/Crafts</a>
              </li>
              <li class="navigation__dropdown--item">
                <a routerLink="/category">Technology/Gadgets</a>
              </li>
              <li class="navigation__dropdown--item">
                <a routerLink="/category">Food/Goods</a>
              </li>
              <li class="navigation__dropdown--item">
                <a routerLink="/category">Clothing/Apparel</a>
              </li>
              <li class="navigation__dropdown--item">
                <a routerLink="/category">Toys/Collectibles</a>
              </li>
              <li class="navigation__dropdown--item">
                <a routerLink="/category">Home/Kitchen</a>
              </li>
              <li class="navigation__dropdown--item">
                <a routerLink="/category">Outdoors/Gardening</a>
              </li>
            </ul>
          </div>
        </button>
      </div>
      <div class="navigation__right">
        <form action="#" class="navigation__search">
          <input
            type="text"
            placeholder="Search"
            class="navigation__search--bar"
          />
          <button type="button" class="btn--search">
            <i class="material-icons">
              search
            </i>
          </button>
        </form>
        <i class="material-icons navigation__icon--1">
          account_circle
        </i>
        <i class="material-icons navigation__icon--2">
          shopping_cart
        </i>
      </div>
    </nav>
  </div>
</section>
