<div class="category">
  <app-navbar></app-navbar>
  <div class="category-page">
    <div class="category-page__top">
      <h2 class="category-page__top--title">Outdoors/Gardening</h2>
    </div>
    <div class="category-page__bottom">
      <app-item (addToCart)="onAddToCart($event)"></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
    </div>
  </div>
  <div class="atc-modal" id="atc-modal">
    <app-add-to-cart (closeModal)="onCloseModal($event)"></app-add-to-cart>
  </div>
</div>
