@import "../../styles.scss";

.category {
  position: relative;
}

.category-page {
  animation: fadeIn 700ms ease-in-out;

  &__top {
    padding: 1.6rem 1rem;
    background-color: $color-blue;
    color: $color-light;

    &--title {
      font-size: 2.6rem;
    }
  }

  &__bottom {
    @include clearFix;

    @include respond(phone) {
      margin: auto;
    }

    & > * {
      float: left;
      margin: 0.5rem;

      @include respond(phone) {
        float: none;
      }
    }
  }
}
