<div class="category">
  <app-navbar></app-navbar>
  <div class="category-page">
    <div class="category-page__left">
      <img
        src="../../assets/img/categories/gardenBack.jpg"
        alt="outdoors background"
        class="category-page__left--img"
      />
      <h2 class="category-page__left--title">Outdoor/Gardening</h2>
    </div>
    <div class="category-page__right">
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
      <app-item></app-item>
    </div>
  </div>
  <div class="atc-modal">
    <app-add-to-cart></app-add-to-cart>
  </div>
</div>
