.container {
  padding: 15rem;
  form {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
}

p {
  margin-top: 5rem;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
