@import "../../styles.scss";

.cart {
  padding: 0 2rem;
  width: 75%;
  margin: auto;
  height: 100vh;
  @include clearFix;

  @include respond(tablet) {
    width: 90%;
  }

  @include respond(phone) {
    padding: 0;
  }

  &__left {
    float: left;
    border-left: 1px solid $color-dark;
    width: 65%;
    padding: 3rem 1.5rem;
    border-radius: 2px;
    height: 100vh;

    @include respond(tablet) {
      float: none;
      padding: 1rem 1.5rem;
      height: fit-content;
      width: fit-content;
    }

    @include respond(phone) {
      padding: 0;
      border: none;
    }
  }

  &__right {
    float: right;
    width: 30%;
    position: fixed;
    top: 7rem;
    right: 2rem;
    border-left: 1px solid $color-dark;
    padding-left: 1.6rem;

    @include respond(tablet) {
      float: none;
      width: 90%;
      position: inherit;

      button {
        margin-bottom: 1rem;
      }
    }

    @include respond(phone) {
      border: none;
    }

    &--sub-total,
    &--tax,
    &--total {
      @include clearFix;
      width: 100%;
      font-size: 1.2rem;
      margin-bottom: 0.6rem;
    }
  }
}

.price--left {
  float: left;
}
.price--right {
  float: right;
}
