<app-navbar></app-navbar>
<div class="cart">
  <div class="cart__left">
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
  </div>
  <div class="cart__right">
    <div class="cart__right--sub-total">
      <p class="price--left">Subtotal:</p>
      <p class="price--right">$9.99</p>
    </div>
    <div class="cart__right--tax">
      <p class="price--left">Estimated Tax:</p>
      <p class="price--right">$0.90</p>
    </div>
    <hr />
    <div class="cart__right--total">
      <p class="price--left">Total:</p>
      <p class="price--right">$10.89</p>
    </div>
    <button class="btn btn--orange">Check Out</button>
  </div>
</div>
