<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="../../assets/img/slider/landing.jpg" />
      <!-- random image -->
      <div class="caption right-align">
        <h6 class="black-text"><em>welcome to...</em></h6>
        <h3 class="grey-text text-darken-3">The MEAN Marketplace</h3>
        <h5 class="light grey-text text-lighten-1">
          Where you can buy anything.
        </h5>
        <a href="/home" class="btn-large btn">Enter store</a>
      </div>
    </li>
    <li>
      <img class="darkImg-3" src="../../assets/img/slider/books.jpg" />
      <!-- random image -->
      <div class="caption center-align">
        <h3>Best-sellers to Classics</h3>
        <h5 class="light grey-text text-lighten-3">
          Search our vast catalog of books.
        </h5>
        <a href="#" class="orangeLink">Browse titles</a>
        <br />
        <br />
        <a
          href="/home"
          class="homeBtn btn-large btn blue lighten-2 waves-effect waves-light"
          >Enter store</a
        >
      </div>
    </li>
    <li>
      <img class="darkImg-2" src="../../assets/img/slider/artsupplies.jpg" />
      <!-- random image -->
      <div class="caption left-align">
        <h3>Crafting Supplies</h3>
        <h5 class="light grey-text text-lighten-3">
          Find your inner creativity.
        </h5>
        <a href="#" class="blueLink">Explore Arts/Crafts</a>
        <br />
        <br />
        <a
          href="/home"
          class="homeBtn btn-large btn red lighten-2 waves-effect waves-light"
          >Enter store</a
        >
      </div>
    </li>
    <li>
      <img class="darkImg-2" src="../../assets/img/slider/electronics.jpg" />
      <div class="caption right-align">
        <h3>Cutting Edge Tech</h3>
        <h5 class="light grey-text text-lighten-3">
          At your fingertips.
        </h5>
        <a href="#" class="blueLink">Browse electronics</a>
        <br />
        <br />
        <a
          href="/home"
          class="homeBtn btn-large btn orange lighten-2 waves-effect waves-light"
          >Enter store</a
        >
      </div>
    </li>
    <li>
      <img class="darkImg-2" src="../../assets/img/slider/food.jpg" />
      <div class="caption left-align">
        <h3>From the Farm to Your Door</h3>
        <h5 class="light grey-text text-lighten-3">
          Fresh produce and food products.
        </h5>
        <a href="#" class="greenLink">Explore foods</a>
        <br />
        <br />
        <a
          href="/home"
          class="homeBtn btn-large btn blue lighten-2 waves-effect waves-light"
          >Enter store</a
        >
      </div>
    </li>
    <li>
      <img class="darkImg-2" src="../../assets/img/slider/clothing.jpg" />
      <div class="caption right-align">
        <h3 class="white-text">Designer Fashion</h3>
        <h5 class="light">
          Clothing, shoes and accessories.
        </h5>
        <a class="yellowLink" href="#">browse styles</a>
        <br />
        <br />
        <a
          href="/home"
          class="homeBtn btn-large btn purple lighten-1 waves-effect waves-light"
          >Enter store</a
        >
      </div>
    </li>
    <li>
      <img class="darkImg-3" src="../../assets/img/slider/outdoor.jpg" />
      <div class="caption left-align">
        <h3>Top of the Line Gardening</h3>
        <h5 class="light grey-text text-lighten-3">
          Your outdoors adventure starts here.
        </h5>
        <a class="greenLink" href="#">Explore Outdoor & Garden</a>
        <br />
        <br />
        <a
          href="/home"
          class="homeBtn btn-large btn yellow lighten-1 waves-effect waves-light grey-text text-darken-2"
          >Enter store</a
        >
      </div>
    </li>
    <li>
      <img class="darkImg-3" src="../../assets/img/slider/toys.jpg" />
      <div class="caption right-align">
        <h3>Hottest New Toys</h3>
        <h5 class="light grey-text text-lighten-3">
          Most in-demand items in stock.
        </h5>
        <a class="redLink" href="#">Search Toys & Collectibles</a>
        <br />
        <br />
        <a
          href="/home"
          class="homeBtn btn-large btn blue lighten-1 waves-effect waves-light"
          >Enter store</a
        >
      </div>
    </li>
    <li>
      <img class="darkImg-2" src="../../assets/img/slider/videogames.jpg" />
      <div class="caption center-align">
        <h3>Best New Games!</h3>
        <h5 class="light grey-text text-lighten-3">
          All consoles and PC's. Let's play.
        </h5>
        <a class="yellowLink" href="#">Browse Catalog of titles</a>
        <br />
        <br />
        <a
          href="/home"
          class="homeBtn btn-large btn pink lighten-2 waves-effect waves-light"
          >Enter store</a
        >
      </div>
    </li>
    <li>
      <img src="../../assets/img/slider/appliances.jpg" />
      <div class="caption right-align">
        <h3>Kitchen and Household Appliances</h3>
        <h5 class="light grey-text text-lighten-3">
          Wide variety and selection.
        </h5>
        <a class="orangeLink" href="#">Search Household items</a>
        <br />
        <br />
        <a
          href="/home"
          class="homeBtn btn-large btn purple lighten-2 waves-effect waves-light"
          >Enter store</a
        >
      </div>
    </li>
  </ul>
</div>
