@import "../../styles.scss";

.category {
  outline: none;
  height: 12rem;
  width: 12rem;
  margin: 0 1rem 1rem 0;
  position: relative;
  cursor: pointer;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
  transition: $transition;

  @include respond(phone) {
    margin: auto;
    margin-top: 1rem;
  }

  &:hover {
    transform: translateY(-1rem);
  }

  &:hover h4 {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &:hover img {
    filter: blur(0.1rem) brightness(60%);
  }

  &__img {
    height: 12rem;
    transition: $transition;

    @include respond(phone) {
      filter: brightness(60%);
    }
  }

  &__name {
    position: absolute;
    @include absCenter;
    font-size: 1.2rem;
    color: $color-light;
    opacity: 0;
    transition: $transition;
    transform: translate(-50%, -50%) scale(0.01);
    cursor: inherit;

    @include respond(phone) {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
