<div class="home">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="margin-bottom-big">
      <app-sale (addToCart)="onAddToCart($event)"></app-sale>
    </div>
    <div class="margin-bottom-big">
      <app-popular-items (addToCart)="onAddToCart($event)"></app-popular-items>
    </div>
    <app-featured-categories></app-featured-categories>
  </div>
  <div class="atc-modal" id="atc-modal">
    <app-add-to-cart (closeModal)="onCloseModal($event)"></app-add-to-cart>
  </div>
</div>
