@import "../../styles.scss";

.featured-cat {
  padding: 3rem 0;
  width: 100%;
  background-image: linear-gradient(to bottom, $color-blue, $color-light);
  text-align: center;
  margin: auto;

  h2 {
    padding: 6rem 0 0 0;
  }

  &__cats {
    position: relative;
    margin: auto;
    @include clearFix;

    & > * {
      float: left;
    }
  }
}
