<div class="atc">
  <div class="atc__content">
    <img
      src="{{ item.img }}"
      alt="gardening gardening-tools"
      class="atc__content--img"
    />
    <div class="atc__content__details">
      <h4 class="atc__content__details--title">{{ item.name }}</h4>
      <p class="atc__content__details--qty">Qyt: {{ qty }}</p>
      <p class="atc__content__details--msg">Added to your cart</p>
    </div>
  </div>
  <div class="atc__buttons">
    <a routerLink="/cart"
      ><button class="btn btn--small btn--blue">View Cart</button></a
    >
    <p class="link link--atc link--small" (click)="onCloseModal()">
      Continue Shopping
      <i class="material-icons">
        arrow_forward
      </i>
    </p>
  </div>
</div>
