@import "../../styles.scss";

.atc {
  position: absolute;
  width: 50%;
  color: $color-dark;
  border-radius: 3px;
  box-shadow: $box-shadow-dark;
  @include absCenter;

  background-color: $color-light;
  padding: 3rem;

  &__content {
    @include clearFix;

    & > * {
      float: left;
      padding: 1rem;
    }

    &--img {
      width: 4.5rem;
    }

    &__details {
      &--title {
        font-size: 1.4rem;
      }

      &--msg {
        color: $color-green;
        padding-top: 1rem;
        font-weight: 500;
      }

      &--qty {
        padding-top: 1rem;
      }
    }
  }

  &__buttons {
    button {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
