@import "../../styles.scss";

.atc {
  position: absolute;
  width: 50%;
  color: $color-dark;
  border-radius: 3px;
  box-shadow: $box-shadow-dark;
  background-color: $color-light;
  padding: 3rem;

  @include absCenter;
  @include respond(tablet) {
    width: 80%;
  }

  @include respond(phone) {
    padding: 0.7rem 0.7rem 4rem 0.7rem;
    width: 100%;
    top: 20.5rem;
    right: 5rem;
  }

  &__content {
    @include clearFix;

    & > * {
      float: left;
      padding: 1rem;
    }

    &--img {
      width: 4.5rem;
    }

    &__details {
      &--title {
        font-size: 1.4rem;
        width: 15rem;
      }

      &--msg {
        color: $color-green;
        padding-top: 1rem;
        font-weight: 500;
      }

      &--qty {
        padding-top: 1rem;
      }
    }
  }

  &__buttons {
    @include respond(phone) {
      margin-left: 2rem;
    }
    button {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
