<div class="login">
  <a routerLink="/home"
    ><img src="../../logo.png" alt="" class="login__img"
  /></a>
  <h2 class="login__text">Admin Login</h2>
  <form (submit)="onLogin($event)" class="login__form">
    <label
      *ngIf="!errors.email && !errors.admin; else elseEmail"
      class="login__form--label"
      for="email"
      >Email address (required)</label
    >
    <ng-template #elseEmail>
      <label class="login__form--label errorMsg" for="email">{{
        errors.emailMsg
      }}{{ errors.adminMsg }}</label>
    </ng-template>

    <input
      class="login__form--input"
      type="text"
      name="email"
      [(ngModel)]="admin.email"
      [ngClass]="{ hasErrors: errors.email }"
    />
    <label
      *ngIf="!errors.password; else elsePassword"
      class="login__form--label"
      for="passwrod"
      >Password (required)</label
    >
    <ng-template #elsePassword>
      <label class="login__form--label errorMsg" for="passwrod">{{
        errors.passwordMsg
      }}</label>
    </ng-template>

    <input
      class="login__form--input"
      type="password"
      name="password"
      [(ngModel)]="admin.password"
      [ngClass]="{ hasErrors: errors.password }"
    />
    <button type="submit" class="login__form--button login__form--button-solid">
      Sign In
    </button>
  </form>
</div>
