<div class="item-container">
  <app-navbar></app-navbar>
  <div class="item-page">
    <div class="item">
      <img src="{{ item.img }}" alt="harry potter book set" class="item__img" />
      <div class="item__content">
        <h4 class="item__content--title">{{ item.name }}</h4>
        <p class="item__content--price">{{ item.price | currency }}</p>
        <form action="#" class="item__content--form">
          <input type="number" [(ngModel)]="qty" name="qty" class="qty" />
          <label for="qty">Qty</label>
          <button
            type="button"
            class="btn btn--blue btn--small"
            (click)="onAddToCart()"
          >
            Add to cart
          </button>
        </form>
        <p class="item__content--desc">
          {{ item.desc }}
        </p>
      </div>
    </div>
  </div>
  <div class="atc-modal" id="atc-modal">
    <app-add-to-cart (closeModal)="onCloseModal($event)"></app-add-to-cart>
  </div>
</div>
