<div class="login">
  <a routerLink="/home"
    ><img src="../../logo.png" alt="" class="login__img"
  /></a>
  <h2 class="login__text">Sign in to your Mean Shopping account</h2>
  <form action="#" class="login__form">
    <label class="login__form--label" for="email"
      >Email address (required)</label
    >
    <input class="login__form--input" type="text" name="email" />
    <label class="login__form--label" for="passwrod">Password (required)</label>
    <input class="login__form--input" type="password" name="password" />
    <button type="button" class="login__form--button login__form--button-solid">
      Sign In
    </button>
    <p>Don't have an account?</p>
    <a routerLink="/register"
      ><button
        type="button"
        class="login__form--button login__form--button-clear"
      >
        Create a new account
      </button></a
    >
  </form>
</div>
