@import "../../styles.scss";

.popular {
  width: fit-content;
  margin: auto;
  text-align: center;

  &__items {
    @include clearFix;

    & > * {
      float: left;

      &:not(:last-child) {
        margin-right: 3.5rem;
      }
    }
  }
}
