<div class="sale">
  <div class="sale__img">
    <img
      src="../../assets/img/home/iphone-xs.png"
      alt="iPhone-xs"
      class="sale__img--img"
    />
    <div class="sale__img--price">
      <h3>Spring Sale!</h3>
      <h4><span>$899</span> $699</h4>
      <p class="margin-bottom-big">
        *Available until Friday, tax and shipping not included
      </p>
      <div>
        <a routerLink="/item" class="link">
          Learn More<i class="material-icons">
            arrow_forward
          </i>
        </a>
      </div>
    </div>
  </div>

  <div class="sale__content">
    <h2 class="heading--sale-item">iPhone-xs</h2>
    <p class="sale__content--paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id dicta vel
      perferendis labore, ipsam consequuntur, ipsum perspiciatis consectetur
      eligendi voluptate, commodi repellat quasi corporis. Sed inventore nobis
      laudantium eligendi perferendis fuga, nostrum maxime possimus nesciunt
      consectetur cum minus atque. <a href="#" class="link">Learn More</a>
    </p>
  </div>
</div>
