<div class="sale">
  <div class="sale__img">
    <img
      src="../../assets/img/home/iphone-xs.png"
      alt="iPhone-xs"
      class="sale__img--img"
    />
    <div class="sale__img--price">
      <h4>
        $899
      </h4>
      <p>
        *until Friday
      </p>
      <button type="button" class="btn btn--large btn--blue">Buy Now</button>
    </div>
  </div>

  <div class="sale__content--text">
    <h2 class="heading--item">iPhone-xs</h2>
    <p class="sale__text--paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero animi
      optio, quibusdam eaque nobis recusandae incidunt ab neque suscipit
      repellat nostrum enim sunt quam reprehenderit.
    </p>
  </div>
</div>
