<div class="sale">
  <div class="sale__img">
    <img
      src="../../assets/img/sale/iphone-xs.png"
      alt="iPhone-xs"
      class="sale__img--img"
    />
    <div class="sale__img--price">
      <h3>Spring Sale!</h3>
      <h4><span>$1299</span> $1099</h4>
      <p>
        *Available until Friday, tax and shipping not included
      </p>
      <div>
        <a routerLink="/item" class="link">
          Learn More<i class="material-icons">
            arrow_forward
          </i>
        </a>
      </div>
    </div>
  </div>

  <div class="sale__content">
    <h2 class="heading--sale-item">iPhone-xs</h2>
    <p class="sale__content--paragraph">
      5. 8-inch Super Retina display (OLED) with HDR ¹ IP68 dust and water
      resistant (maximum depth of 2 meters up to 30 minutes) 12MP dual cameras
      with dual OIS and 7MP True Depth front camera—Portrait mode, Portrait
      Lighting, Depth Control, and Smart HDR Face ID for secure authentication
      and Apple Pay ⁴ A12 Bionic with next-generation Neural Engine iOS 12 with
      Emoji, Screw wireless charging—works with Qi chargers Time, Siri
      Shortcuts, and Group Face Time iOS 12 with Emoji, Screen Time, Siri
      Shortcuts, and Group Face Time
    </p>
  </div>
</div>
