<div class="item">
  <div class="item__side item__side--front">
    <div class="item__img margin-bottom-small"></div>
    <h4 class="heading--item">Wolverine Figure</h4>
  </div>
  <div class="item__side item__side--back">
    <h4 class="heading--item margin-bottom-small">Wolverine</h4>
    <p class="item__price">$19.95</p>
    <p class="item__desc">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore natus
      quasi laudantium placeat libero corporis et eveniet fugiat. Deserunt,
      iusto?
    </p>
    <a routerLink="/item" class="link link--small item__item-link">
      View Item
      <i class="material-icons">
        arrow_forward
      </i>
    </a>
    <i (click)="onAddToCart()" class="material-icons item__cart-link">
      add_shopping_cart
    </i>
  </div>
</div>
