@import "../../styles.scss";

.item {
  height: 20rem;
  width: 15rem;
  margin: auto;
  text-align: center;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;

  &__side {
    width: 15rem;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    padding: 1rem 0;
    transition: $transition;
  }

  &__side--front {
    height: 18rem;
    overflow: hidden;
    background-image: linear-gradient(
      to bottom,
      $color-light,
      $color-blue-light
    );
  }

  &__side--back {
    height: 18rem;
    transform: rotateY(180deg);
    background-image: linear-gradient(
      9deg,
      $color-orange 0%,
      $color-orange 80%,
      $color-light 85%
    );
    border: 1px solid $color-dark;
    border-radius: 2px;
  }

  &__img {
    // background-image: url(../../assets/img/items/toys/wolverine.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 13rem;
  }

  &__price {
    font-size: 1.4rem;
    color: #fff;
  }

  &__desc {
    font-size: 0.9rem;
    padding: 1rem;
  }

  &__cart-link {
    color: $color-green-light;
    border: 3px solid $color-green-light;
    padding: 0.1rem;
    border-radius: 50%;
    font-size: 1.7rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    transition: $transition;
    cursor: pointer;

    &:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.1rem 0.4rem rgb(179, 179, 179);
    }
    &:active {
      transform: translateY(-0.05rem);
      box-shadow: 0 0.1rem 0.4rem rgb(214, 214, 214);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__heading {
    &--back {
      font-size: 1.4rem;
      color: $color-dark;
      overflow: hidden;
    }
  }
}
