<div class="item">
  <div class="item__side item__side--front">
    <div
      class="item__img margin-bottom-small"
      [ngStyle]="{ 'background-image': 'url(' + item.img + ')' }"
    ></div>
    <h4 class="heading--item item__heading--front">{{ item.name }}</h4>
  </div>
  <div class="item__side item__side--back">
    <h4 class="item__heading--back margin-bottom-small margin-top-small">
      {{ item.name }}
    </h4>
    <p class="item__price">{{ item.price | currency }}</p>
    <a
      routerLink="/item/{{ item._id }}"
      class="link link--small item__item-link"
    >
      View Item
      <i class="material-icons">
        arrow_forward
      </i>
    </a>
    <i (click)="onAddToCart()" class="material-icons item__cart-link">
      add_shopping_cart
    </i>
  </div>
</div>
